html {
  box-sizing: border-box;
  font-size: 62.5%;
}
.App {
  text-align: center;
}
@media only screen and (max-width: 320px) {
  html {
    font-size: 30% !important;
  }
}

@media only screen and (min-width: 320px) {
  html {
    font-size: 50% !important;
  }
}

@media only screen and (min-width: 480px) {
  html {
    font-size: 35% !important;
  }
}

@media only screen and (min-width: 600px) {
  html {
    font-size: 50% !important;
  }
}

@media only screen and (min-width: 768px) {
  html {
    font-size: 40% !important;
  }
}
@media only screen and (min-width: 800px) {
  html {
    font-size: 40% !important;
  }
}

@media only screen and (min-width: 1024px) {
  html {
    font-size: 45% !important;
  }
}

body {
  color: #000000;
  font-family: "Helvetica Neue", "Helvetica", "Arial", sans-serif;
}
@import "./show.css";
